*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
html{
    scroll-behavior: smooth;
}  
  
body{
    background-color: #2576b4;
    /*display: block;
    justify-content: center;
*/
}

label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    font-size: 45px;
    width: 100px;
    height: 100px;
}

h1, h3, #numbers, label{
    text-align: center;
    margin-top: 20px;
}

#playBtn{
    background-color: #ffffff; 
    border: none;
    color: black;
    padding: 15px 32px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
}